{% extends "templates/base-devguide.html" %}
{% block title %}开始吧{% endblock %}

{% block content %}

<style>
  pre {
    background: white;
  }

  h1 {
    margin-right: 40px;
  }

  .example-code {
    min-width: 60%;
  }

  @media (max-width: 1000px) {
    .example-code {
      width: 100%;
      margin-bottom: 40px;
    }

    /* The devguide has a left nav, which means we need to rejigger
     * the media breakpoints to account for that. */
    section {
      padding: 40px;
    }

    .section-columns {
      display: block;
      flex-direction: column;
    }

    .section-columns > div:not(:last-child),
    .section-columns > p:not(:last-child),
    .section-columns > h2:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 40px;
    }
  }
</style>

<section class="blue short gradient-light">
  <div class="section-columns layout start">
    <h1>开始吧</h1>
    <div class="flex">
      <p>准备好了吗？您将很快可以创建您的第一个元素或第一个 App。</p>
    </div>
  </div>
</section>

<section class="light">
  <div class="section-columns">
    <div class="flex">
      <h2 class="underline">尝试 Polymer</h2>
      <p>想要尝试 Polymer 2.x 而不安装东西？</p>
      <p>学习怎样使用 ES6 基于类的语法来定义元素，然后添加属物和事件。</p>
      <a href="/2.0/start/quick-tour" class="blue-button vertical full-width">尝试 Polymer</a>
    </div>

    <div class="flex">
      <h2 class="underline">安装 Polymer 2.x</h2>
      <p>立即开始使用最新的版本。</p>
      <p>按照以下步骤安装最新版本的库和工具，并开始构建。</p>
      <a href="/2.0/start/install-2-0" class="blue-button vertical full-width">安装 Polymer 2.x</a>
    </div>

    <div class="flex">
      <h2 class="underline">使用元素</h2>
      <p>开始在您的 App 中使用 Web 组件。</p>
      <p>访问 webcomponents.org 以获取可在任何站点上使用的可互操作的元素。</p>
      <a href="https://www.webcomponents.org" target="_blank" class="blue-button vertical full-width">webcomponents.org</a>
    </div>
  </div>
</section>

<section class="grey gradient-light-flipped">

  <div class="subsection">
    <h2>观看 Polycasts</h2>
    <div class="section-columns example-code">
      <div class="example-code flex">
        <google-youtube video-id="videoseries"
          list-type="playlist"
          list="PLNYkxOF6rcIDdS7HWIC_BYRunV6MHs5xo"
          autoplay="0"
          rel="0">
          </google-youtube>
      </div>
      <div>
        <p>加入 Chrome 开发者关系团队的 Rob Dodson 发布的 Polycasts：一套全面的视频，探索 Polymer 的来龙去脉。从头开始一个新的 Polymer 项目，
          为您的元素添加功能，或得到理解数据绑定的速成课程；创建可访问性组件，并为您的目标受众本地化它们。</p>
        <a href="https://www.youtube.com/playlist?list=PLOU2XLYxmsII5c3Mgw6fNYCzaWrsM3sMN" class="blue-button">观看更多</a>
      </div>
    </div>
  </div>

  <div class="subsection">
    <h2>获取工具</h2>
    <div class="section-columns">
      <div class="example-code flex">
        <pre><code class="hljs">
npm install -g polymer-cli
mkdir my-app
cd my-app
polymer init
      </code></pre>
      </div>
      <div>
        <p>Polymer CLI 是一个命令行界面，用来使用 Polymer 构建元素，使用 Polymer App 工具箱构建应用。它简化了工作流程，使从简单的组件到复杂的 Web App 项目易于管理。</p>
        <a href="/2.0/docs/tools/polymer-cli" class="blue-button">安装 CLI</a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
