{% extends "templates/base-devguide.html" %}
{% block title %}入门{% endblock %}

{% block content %}
<style>
  pre {
    background: white;
  }

  h1 {
    margin-right: 40px;
  }

  .example-code {
    min-width: 60%;
  }

  .version-alert {
    background-color: #FBE9E7;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .version-alert img {
    vertical-align: middle;
  }

  @media (max-width: 1000px) {
    .example-code {
      width: 100%;
      margin-bottom: 40px;
    }

    /* The devguide has a left nav, which means we need to rejigger
     * the media breakpoints to account for that. */
    section {
      padding: 40px;
    }

    .section-columns {
      display: block;
      flex-direction: column;
    }

    .section-columns > div:not(:last-child),
    .section-columns > p:not(:last-child),
    .section-columns > h2:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 40px;
    }

  }
</style>

<section class="blue short gradient-light">
  <div class="section-columns layout start">
    <h1>入门</h1>
    <div class="flex">
      <p>准备好了吗？您离建立您的第一个元素或您的第一个 App 已经不远了。</p>
    </div>
  </div>
</section>

<section class="version-alert">
  <p><img src="/images/alerts/warning.svg">You're viewing an older version of Polymer.
    Please see <a href="/2.0/start/">Polymer 2.0</a> for the latest.</a></p>
</section>

<section class="light">
  <div class="section-columns">
    <div class="flex">
      <h2 class="underline">使用元素</h2>
      <p>开始在您的 App 使用 Web 组件。</p>
      <p>浏览可以在任何网站上使用、可与其他元素互操作的 Polymer 元素目录。</p>
      <a href="https://www.webcomponents.org/" target="_blank" class="blue-button vertical full-width">浏览元素</a>
      <a href="https://elements.polymer-project.org/guides/using-elements" target="_blank" class="blue-button vertical full-width flat">了解更多</a>
    </div>

    <div class="flex">
      <h2 class="underline">构建元素</h2>
      <p>准备创建自己的元素？ </p>
      <p>通过自定义元素，您可以扩展 HTML 的语义、品牌（brand），润色您的UI，或在您的网站中嵌入丰富的功能。</p>
      <a href="/1.0/start/first-element/intro" class="blue-button vertical full-width">创建元素</a>
      <a href="/1.0/docs/devguide/feature-overview" class="blue-button vertical full-width flat">了解更多</a>
      <!-- <a href="/1.0/tools/" class="blue-button">Using the tools</a> -->
    </div>

    <div class="flex">
      <h2 class="underline">构建 App</h2>
      <p>使用 Web 组件从头开始创建渐进式 Web App。</p>
      <p>使用 Polymer App 工具箱的工具发布速度快、响应式的 App，可从任何地方访问。</p>
      <a href="/1.0/start/toolbox/set-up" class="blue-button vertical full-width">创建 App</a>
      <a href="/1.0/toolbox/" class="blue-button vertical full-width flat">了解更多</a>
    </div>
  </div>
</section>

<section class="grey gradient-light-flipped">

  <div class="subsection">
    <h2>观看 Polycasts</h2>
    <div class="section-columns example-code">
      <div class="example-code flex">
        <google-youtube video-id="videoseries"
          list-type="playlist"
          list="PLNYkxOF6rcIDdS7HWIC_BYRunV6MHs5xo"
          autoplay="0"
          rel="0">
          </google-youtube>
      </div>
      <div>
        <p>加入 Chrome 开发者关系团队的 Rob Dodson 发布的 Polycasts，一套全面的视频探索 Polymer 的来龙去脉。从头开始一个新的 Polymer 项目，为您的元素添加功能，或得到理解数据绑定的速成课程；创建可访问性组件，并为您的目标受众本地化它们。</p>
        <a href="https://www.youtube.com/playlist?list=PLNYkxOF6rcIDdS7HWIC_BYRunV6MHs5xo" class="blue-button">观看更多</a>
      </div>
    </div>
  </div>

  <div class="subsection">
    <h2>获取工具</h2>
    <div class="section-columns">
      <div class="example-code flex">
        <pre><code class="hljs">
npm install -g polymer-cli
mkdir my-app
cd my-app
polymer init
      </code></pre>
      </div>
      <div>
        <p>Polymer CLI 是一个命令行界面，用来使用 Polymer 构建元素，用 Polymer App 工具箱构建应用。它简化了工作流程，使从简单的组件到复杂的 Web App 项目易于管理。</p>
        <a href="/1.0/docs/tools/polymer-cli" class="blue-button">安装 CLI</a>
      </div>
    </div>
  </div>

</section>

{% endblock %}
